apiVersion: v1
kind: ConfigMap
metadata:
  name: argocd-image-updater-config
  namespace: argocd
data:
  registries.conf: |
    registries:
      - name: aws-ecr-eu-north-1
        api_url: https://018881300778.dkr.ecr.eu-north-1.amazonaws.com
        prefix: 018881300778.dkr.ecr.eu-north-1.amazonaws.com
        ping: yes
        default: true
