apiVersion: v1
kind: ConfigMap
metadata:
  name: argocd-image-updater-config
  namespace: argocd
data:
  ecr-login.sh: |
    #!/bin/sh
    set -eu

    REGION="${AWS_REGION:-eu-north-1}"
    PASSWORD="$(aws ecr get-login-password --region "$REGION")"
    printf "AWS:%s\n" "$PASSWORD"
  registries.conf: |
    registries:
      - name: aws-ecr-eu-north-1
        api_url: https://018881300778.dkr.ecr.eu-north-1.amazonaws.com
        prefix: 018881300778.dkr.ecr.eu-north-1.amazonaws.com
        ping: yes
        default: true
        credentials: ext:/app/config/ecr-login.sh
        credsexpire: 10h
