apiVersion: apps/v1
kind: Deployment
metadata:
  name: argocd-image-updater
  namespace: argocd
  labels:
    app.kubernetes.io/name: argocd-image-updater
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: argocd-image-updater
  template:
    metadata:
      labels:
        app.kubernetes.io/name: argocd-image-updater
    spec:
      serviceAccountName: argocd-image-updater
      containers:
        - name: argocd-image-updater
          image: quay.io/argoprojlabs/argocd-image-updater:v0.18.0
          imagePullPolicy: IfNotPresent
          args:
            - run
            - --interval=2m
            - --loglevel=info
            - --argocd-server-addr=argocd-server.argocd.svc:80
            - --argocd-plaintext
            - --argocd-grpc-web
            - --registries-conf-path=/app/config/registries.conf
          env:
            - name: AWS_REGION
              value: eu-north-1
            - name: ARGOCD_TOKEN
              valueFrom:
                secretKeyRef:
                  name: argocd-image-updater-secret
                  key: argocd.token
          volumeMounts:
            - name: config
              mountPath: /app/config
            - name: tmp
              mountPath: /tmp
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
      volumes:
        - name: config
          configMap:
            name: argocd-image-updater-config
        - name: tmp
          emptyDir: {}
