apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

images:
  - name: security-service
    newName: 018881300778.dkr.ecr.eu-north-1.amazonaws.com/security-service
    # Deployed image tag is Git-driven (pure GitOps).
    # This is updated by CI via Merge Request (see `gitops_mr_security_dev`).
    newTag: 76bf2c33

patches:
  - target:
      kind: Deployment
      name: security-service
    patch: |-
      - op: add
        path: /spec/template/spec/containers/0/envFrom
        value:
          - secretRef:
              name: security-service-env
