apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

images:
  - name: security-service
    newName: 018881300778.dkr.ecr.eu-north-1.amazonaws.com/security-service
    # Deployed image tag is Git-driven (pure GitOps).
    # This is updated by CI via Merge Request (see `gitops_mr_security_dev`).
    newTag: 76bf2c33

patches:
  - target:
      kind: Deployment
      name: security-service
    patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: security-service
      spec:
        template:
          spec:
            containers:
              - name: security-service
                envFrom:
                  - secretRef:
                      name: security-service-env
                      optional: true
                env:
                  - name: PORT
                    value: "8002"
                    valueFrom: null
                  - name: ENVIRONMENT
                    value: development
                    valueFrom: null
                  - name: SERVICE_NAME
                    value: security-service
                    valueFrom: null
