apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: video-critique
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: video-critique
  minReplicas: 1
  maxReplicas: 4
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 60
    - type: Resource
      resource:
        name: memory
        target:
          type: Utilization
          averageUtilization: 70
