apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: asset-management
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: asset-management
  minReplicas: 1
  maxReplicas: 4
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 60
    - type: Resource
      resource:
        name: memory
        target:
          type: Utilization
          averageUtilization: 70
